 *{
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
}

/*inicio mobile*/

.bodyIndex {
    display: grid;
    grid-template-areas:
    "header"
    "mainIndex"
    "sectionIndex"
    "footer";
    grid-template-rows: 1fr 200px 1fr 100px;
    grid-template-columns:1fr;
    height: 100vh;
}

header {
    grid-area: header;
    background-image: url(../img/header-1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}

header ul, li, a {
    display: flex;
    flex-direction:column;
    color: rgb(255, 255, 255);
     list-style: none;
    text-decoration: none;
}

header ul {
    padding: 10px;
}

.mainIndex {
    grid-area: mainIndex;
    background-image: url(../img/Portada-guitarras\ casas.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    
    
}

.sectionIndex {
    grid-area: sectionIndex;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   

    
}
.sectionIndex img {
    width: 150px;
    height: 150px;
    border: 2px solid  gray;
    border-radius: 200px;

}

.sectionIndex h2, p {
    width: 300px;
    display: flex;
    text-align: center;
}

.art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: black;
}




   
/*tienda mobile*/


.bodyTienda {
    display: grid;
    grid-template-areas:
    "headerTienda"
    "articleTienda"
    "mainTienda1"
    "mainTienda2"
    "footer";
    grid-template-rows: 2fr 1fr 3fr 3fr 100px;
    grid-template-columns:1fr;
    height: 100vh;
}

.headerTienda {
    grid-area: headerTienda;
}

.articleTienda {
    grid-area: articleTienda;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainTienda1 {
    grid-area: mainTienda1;
    display: flex;
    flex-direction:column;
  
}
.mainTienda1 img{
    display: flex;
    max-width: 100%;

}

.mainTienda1 div {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainTienda1 p {
    width: 250px;
    display: flex;
    text-align: center;
}



.mainTienda2 {
    grid-area: mainTienda2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainTienda2 img {
    display: flex;
    max-width: 100%;
}

.mainTienda2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTienda2 p {
    width: 250px;
    display: flex;
    text-align: center;
}

footer {
    grid-area: footer;
}

/*Gallery Mobile*/

.bodyGaleria {
    display: grid;
    grid-template-areas:
    "headerGaleria"
    "contenedorGaleria"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 150px;
}

.headerGaleria {
    grid-area: headerGaleria;
}
.contenedorGaleria {
    grid-area: contenedorGaleria;
    width: 100%;
    display:flex;
    flex-direction: column;
    
}

.imagen img {  
width: 100%;
height: 100%;
}

.imagen {
    width: 1fr;
    display: flex;
    flex-direction: column;
   
}


footer {
    grid-area: footer;
}



/*Inicio Desktop*/

@media screen and (min-width: 480px) {
    .bodyIndex {
        display: grid;
    grid-template-areas:
    "header"
    "mainIndex"
    "sectionIndex"
    "footer";
    grid-template-rows: 150px 1000px 600px 150px;
    grid-template-columns: 1fr;
    height: 100vh;

    }

    header {
    background-image:url(../img/header-1.jpg);
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:center;
    }

    header nav ul {
      
       width: 550px;
       display: flex;
       flex-direction: row;
       justify-content:space-evenly;
       font-size: 20px;  
    }

    header nav ul li {
        height: 100%;
        width: 100%;
        padding: 5px;
        transition: all 0.5s;
    }


    header nav ul li:hover {

        font-size: 23px;

    }

    .mainIndex{
       display: flex;
       width:100%;
       height:100%;

    }
    .sectionIndex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sectionIndex img {
        display: flex;
        width: 300px;
        height: 300px;
        
    }

    .sectionIndex h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .bodyTienda {
    display: grid;
    grid-template-areas:
    "headerTienda"
    "articleTienda"
    "mainTienda1"
    "mainTienda2"
    "footer";
    grid-template-rows: 150px 100px 3fr 600px 150px;
    grid-template-columns:1fr;
    height: 100vh;
    }

    /*Tienda Desk*/

    .mainTienda1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .mainTienda1 img {
        display: flex;
        width: 500px;
        height: 400px;
       
    }
  

    .mainTienda2 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .mainTienda2 h2,p {
         display: flex;
        text-align: center;
       
    }
      
    /*Galeria Desktop*/

    .bodyGaleria {
        grid-template-areas: 
        "headerGaleria"
        "contenedorGaleria"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr 150px; 
        }

    .headerGaleria {
        grid-area: headerGaleria;
    }
    .contenedorGaleria {
        grid-area: contenedorGaleria;
    }
    footer {
        grid-area: footer;
    }

    .contenedorGaleria {
        
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
      
     
    
    }
    .imagen img {
        width: 400px;
        display: flex;
        padding: 10px;
        border: none;
        transition: all 0.5s ease;
    }

    .imagen img:hover {
        padding: 2px;
        width: 420px;
    
    }



    }

  






 


    