
.nav-link {
   color: aliceblue;
}

.btn-secondary {
   background-color: brown;
   border-radius:0;
   width: 150px;

}

.columna1 {

   display: flex;
   justify-content:space-around;

}

.columna2 {
   display: flex;
   justify-content: center;
}