
.h1Contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

form {
    
    display: flex;
    justify-content: center;
    font-weight: 400;
    
    
    .form-label {
        font-weight: 500;
    }

    .form-check-label{

    } font-weight: 500;
}

.google-maps{
    width: 100%;
    border: 2px solid grey;
}