
.h1Contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

form {
    display: flex;
    justify-content: center;
}

.google-maps{
    width: 100%;
    border: 2px solid grey;
}