footer {
    width: 100%;
    display: flex;
     justify-content:space-evenly;
     align-items: center;
     color: aliceblue;
     padding: 25px;
     
     .contenedor-logo {

        width: 250px;
        height: 150px;
        display: flex;
        align-items: center;
        font-size: x-small ;

        .logo-footer {

            width:250px;

        }
        
     }
  

   .iconos-footer{

    width:150px;
    height:150px;
    display: flex;
    justify-content:space-around;
    align-items: center;

    }

    .bi {
        width: 25px;
        &:hover{
            color:$hoverFooter;
        }
    }


   
}