header {
<<<<<<< HEAD
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color:$color-header-footer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    .nav-link{
        color: rgb(136, 78, 78);
=======
    background-color: map-get($colores, colorFondoHeaderFooter );
    .nav-link {
        color: rgb(252, 252, 252);
>>>>>>> version4
        &:hover {
            color:rgb(110, 113, 116)
        }
    }
   
}