header {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-color:$color-header-footer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    .nav-link{
        color: rgb(252, 252, 252);
        &:hover {
          color: rgb(102, 102, 102);  
        }
    }
}