header {
    background-color: map-get($colores, colorFondoHeaderFooter );
    .nav-link {
        color: rgb(252, 252, 252);
        &:hover {
            color:rgb(110, 113, 116)
        }
    }
   
}